body,
.header,
.main,
.header__left,
.header__account-block,
.photo-block,
.main-catalog,
.main-catalog__nav,
.product-tile,
.main-catalog__new-arrivals {
    display: grid;
}

.header__right,
.header__logo-block,
.header__nav,
.product-tile__price,
.product-tile__warn,
.main-catalog__btn-section {
    display: flex;
}

body {
    grid-template: min(160px) 1fr 359px / 100%;
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
}

.header {
    grid-template-columns: 50% 50%;
    text-align: end;
}

.header__left {
    grid-template-columns: 50% 50%;
    align-content: start;
}

.header__logo-block {
    justify-content: center;
    align-items: flex-start;
}

.header__company-name {
    margin-right: 26px;
    margin-top: 34px;
    font-weight: 400;
    font-size: 2.3125em;
    line-height: 1.3125em;
    color: rgba(26, 26, 26, 0.71);
}

.header__logo {
    margin-top: 39px;
}

.header__nav {
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 41px;
}

.header__nav-link {
    margin-right: 32px;
}

.header__link-analog {
    margin-right: 0px;
}

.header__right {
    justify-content: center;
    align-items: flex-start;
    padding-top: 37px;
}

.header__account-block {
    grid-template-columns: [search-bar-start] minmax(70px, 1fr) 70px 70px 70px [search-bar-end];
}

.header__journal,
.header__login {
    padding-right: 13px;
}

.header__search {
    padding-left: 13px;
    padding-right: 22px;
}

.header__cart {
    padding-right: 30px;
}

.header__search-bar-container {
    grid-column-start: search-bar-start;
    grid-column-end: search-bar-end;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.header__search-bar {
    width: 300px;
    height: 43px;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
}

.main {
    grid-template: [photo-block-1-start] min(600px) [photo-block-1-end main-catalog-start] 1fr [main-catalog-end photo-block-2-start] 600px [photo-block-2-end] / [main-start] 9.72% [center-content-start] 1fr [center-content-end] 9.72% [main-end];
}

.photo-block {
    grid-column: main-start / main-end;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-block--1 {
    grid-row: photo-block-1-start / photo-block-1-end;
    grid-template: 1fr 82px / [main-start] 9.72% [center-content-start] 1fr [center-content-end] 9.72% [main-end];
    background-image: url(/pictures/product/photo-block-1.jpg);
}

.photo-block--1__content {
    grid-area: 2 / center-content-start / 3 / center-content-end;
}

.main-catalog {
    grid-area: main-catalog-start / center-content-start / main-catalog-end / center-content-end;
    grid-template-rows: 122px 1fr 300px;
}

.main-catalog__nav {
    grid-template-columns: repeat(6, 120px);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main-catalog__new-arrivals {
    grid-template-columns: repeat(4, 275px);
    justify-content: space-between;
}

.product-tile {
    grid-template: 380px 49px / 275px;
}

.product-tile--scarce {
    position: relative;
}

.product-tile__warn {
    position: absolute;
    align-items: center;
    left: 10px;
    top: 10px;
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    background: #ECD3CA;
}

.main-catalog__btn-section {
    justify-content: center;
    align-items: flex-end;
}

.main-catalog__btn {
    margin-bottom: 172px;
    width: 302px;
    height: 56px;
    text-align: center;
    font-size: 20px;
    line-height: 56px;
    color: #F7F7F7;
    background: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 0px;
}

.photo-block--2 {
    grid-row: photo-block-2-start / photo-block-2-end;
    background-image: url(/pictures/product/photo-block-2.jpg);
}

.product-tile__name {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
}

.product-tile__price {
    font-size: 13px;
    line-height: 13px;
}

.product-tile__reg-price {
    margin-right: 5px;
    color: #808080;
}

.header__link {
    font-size: 1em;
    line-height: 1.25em;
    color: #2A2A2A;
}

.header__account-link {
    font-size: 0.9375em;
    line-height: 1.125em;
}

.photo-block__text--1 {
    font-size: 1.125em;
    line-height: 1.75em;
}

.photo-block__link {
    font-size: 0.9375em;
    line-height: 1.375em;
}

.main-catalog__link {
    font-size: 18px;
    line-height: 27px;
    color: #B3B3B3;
}

.photo-block__text,
.photo-block__link {
    color: #FFFFFF;
}

.product-tile__name-hl {
    color: #A8A8A8;
}

.product-tile__sale-price {
    color: #FF3451;
}

.product-tile__single-price,
.product-tile__name,
.product-tile__warn {
    color: #1A1A1A;
}

.header__journal,
.header__login,
.header__cart {
    border-right: 1px solid #2A2A2A;
}



p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.product-tile__link:hover {
    text-decoration-color: #1A1A1A;
}

.main-catalog__link:active {
    color: #1A1A1A;
}

.main-catalog__btn:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0.2, 0.4);
}

textarea:focus,
.header__search-bar:focus {
    outline: none;
}